* {
  margin: 0;
}

html, body, #root {
  height: calc(100% - 8px);
}

#main {
  min-height: calc(100% - 110px);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #66b3ff; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0066cc; 
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.right-space-25 {
  margin-right: 25px;
}

.width-450 {
  width: 450px !important;
}

.width-300 {
  width: 300px !important;
}

.width-240 {
  width: 240px !important;
}